<div class="header">
  <h2><strong>策略列表</strong></h2>

  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li><a href="/">Seego后台</a></li>
      <li><a href="/security">安全管理</a></li>
      <li class="active">策略列表</li>
    </ol>
  </div>
</div> 

<div class="row">
  <div class="col-sm-12 portlets">
    <div class="panel">
      <div class="panel-content">
        <div class="clear-fix">

        <div>
          <form class="form-inline" ng-submit="$ctrl.changeFilter()">
            <div class="form-group m-b-10">
                <label class="control-label"> 平台
                  <select class="form-control" ng-model="$ctrl.platform" ng-options="item.value as item.name for item in $ctrl.filter_platform" ng-change="$ctrl.changeFilter()">
                  </select>
                </label>
                <label class="control-label"> 状态
                  <select class="form-control" ng-model="$ctrl.is_ingore" ng-options="item.value as item.name for item in $ctrl.filter_ingore"  ng-change="$ctrl.changeFilter()">
                  </select>
                </label>
                <label class="control-label"> 模块
                  <select class="form-control" ng-model="$ctrl.ctrl_id" ng-options="item.value as item.name for item in $ctrl.filter_ctrl" ng-change="$ctrl.changeFilter()">
                  </select>
                </label>
                <label class="control-label"> 接口
                  <select class="form-control" ng-model="$ctrl.api_id" ng-options="item.value as item.name for item in $ctrl.filter_api" ng-change="$ctrl.changeFilter()">
                  </select>
                </label>
                <!--
                  <button class="btn btn-primary" type="submit">搜索</button>
                -->
            </div>
          </form>
          <div class="table-scrollable">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>状态</th>
                  <th>平台</th>
                  <th>模块名</th>
                  <th>接口名</th>
                  <th>策略说明</th>
                  <th>报警数</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in $ctrl.list_config track by $index">
                    <td>
                      <font ng-if="item.is_ingore == 0" color=blue>生效中</font>
                      <font ng-if="item.is_ingore == 1" color=red>已屏蔽</font>
                    </td>
                	  <td>{{item.platform_name}}</td>
                    <td>{{item.ctrl_name}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.str_desc}}</td>
                    <td>{{item.num_warning}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
 
        <pagination total-items="$ctrl.total_items"></pagination>
      </div>
    </div>
  </div>
</div>


