<div class="explore-col-goods">

  <form nz-form preventFormAutocomplete [formGroup]="formGroup" [nzLayout]="'vertical'" class="ctrl-widget-form" (ngSubmit)="emitSave()">

    <div class="module-title fieldset">

      <div class="module-title-action">
        <h2>模块名称</h2>
        <nz-popconfirm [nzTitle]="'确定要恢复默认吗？'" (nzOnConfirm)="resetForm()">
          <a nz-popconfirm>恢复默认</a>
        </nz-popconfirm>
      </div>

      <div nz-row [nzGutter]="10">
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="24">
              <label>主标题</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="24">
              <nz-input formControlName="mainTitle" (nzBlur)="emitSave($event)" inputLenPostfix="6" [nzPlaceHolder]="'主标题'"></nz-input>
              <div nz-form-explain *ngIf="formErrors.mainTitle">{{formErrors.mainTitle}}</div>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="12">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="24">
              <label>副标题</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="24">
              <nz-input formControlName="subTitle" (nzBlur)="emitSave($event)" inputLenPostfix="12" [nzPlaceHolder]="'副标题'"></nz-input>
              <div nz-form-explain *ngIf="formErrors.subTitle">{{formErrors.subTitle}}</div>
            </div>
          </div>
        </div>
      </div>

      <div nz-form-item nz-row>
        <div nz-form-label>
          <label>标题图标</label>
        </div>
        <div nz-form-control>
          <app-icon-radio-group formControlName="icon" (radioChange)="emitSave($event)"></app-icon-radio-group>
          <div nz-form-explain *ngIf="formErrors.icon">{{formErrors.icon}}</div>
        </div>
      </div>
    </div>

    <div class="mt-xl" nz-form-item nz-row>
      <div nz-form-label class="">
        <label>排布样式</label>
      </div>
      <div nz-form-control>
        <nz-radio-group formControlName="styleType" (click)="emitSave($event)">
          <label nz-radio [nzValue]="1">
            <span>纵向列表</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>横排滑动</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>双列排布</span>
          </label>
        </nz-radio-group>
        <div nz-form-explain *ngIf="formErrors.styleType">{{formErrors.styleType}}</div>
      </div>
    </div>
    <div class="mt-xl" nz-form-item nz-row >
      <div nz-form-label class="">
        <label>添加方式</label>
      </div>
      <div nz-form-control>
        <nz-radio-group formControlName="method" (click)="emitSave($event)">
          <label nz-radio [nzValue]="0">
            <span>手动添加</span>
          </label>
          <label nz-radio [nzValue]="1">
            <span>自动添加
              <i class="anticon anticon-exclamation-circle" nz-tooltip="{{defaultValue.tips}}"></i>
            </span>
          </label>
        </nz-radio-group>
        <div nz-form-explain *ngIf="formErrors.method">{{formErrors.method}}</div>
      </div>
    </div>
    <div nz-form-item nz-row *ngIf="formGroup.value.method !== 0">
      <div nz-form-control>
        显示个数：
        <nz-input-number formControlName="showCount" [nzParser]="parserInt" (nzBlur)="emitSave($event)" [nzMin]="1" [nzMax]="20"></nz-input-number>
      </div>
      <div nz-form-control class="m-t-10">
        自动逻辑：
        <nz-radio-group formControlName="orderRule" (click)="emitSave($event)">
          <label nz-radio *ngFor="let rule of orderRules" [nzValue]="rule.value">
            <span>{{rule.label}}</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div class="mt-xl" nz-form-item nz-row *ngIf="formGroup.value.method === 0">
      <app-common-len-form-label label="添加商品" [limit]="limit" [length]="goodsLen" note="可拖拽商品调整排列顺序"></app-common-len-form-label>
      <div nz-form-control>
        <sortableItems formControlName="goodsList" (change)="emitSave($event)" [type]="MODAL_TYPE.HOT_GOODS"></sortableItems>
        <div nz-form-explain class="m-t-10" *ngIf="formErrors.goodsList">{{formErrors.goodsList}}</div>
      </div>
    </div>

    <div class="mt-xl" nz-form-item nz-row>
      <div nz-form-label>
        <label>显示时间</label>
        <p class="title-explain">让该模块在指定的时间内显示在小电铺，点击发布后生效</p>
      </div>
      <div nz-form-control>
        <app-show-time formControlName="showTime" (change)="emitSave($event)"></app-show-time>
        <div nz-form-explain class="m-t-10" *ngIf="formErrors.showTime">{{formErrors.showTime}}</div>
      </div>
    </div>

    <button hidden></button>
  </form>
</div>

<!--



-->
