<nz-table #nzTable nzShowSizeChanger nzShowQuickJumper  [nzAjaxData]="list" [nzTotal]="total" [nzLoading]="loading"
          [(nzPageSize)]="pageSize"(nzPageSizeChange)="changePage()" [(nzPageIndex)]="page" (nzPageIndexChange)="changePage()"
>
  <thead nz-thead>
  <tr>
    <th nz-th>
      商品图
    </th>
    <th nz-th>
      商品ID
    </th>
    <th nz-th>
      商品名
    </th>
    <th nz-th>
      品牌
    </th>
    <th nz-th>
      品类
    </th>
    <th nz-th>
      售价
    </th>
    <th nz-th>
      浏览pv
    </th>
    <th nz-th>
      访客uv
    </th>
    <th nz-th>
      销量
    </th>
    <th nz-th>
      销售额GMV
    </th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let item of nzTable.data; let index = index">
    <td><img style="width: 80px;height: 80px" [seeSrc]="item.item_imgurl"></td>
    <td>{{item.item_id}}</td>
    <td>{{item.item_name}}</td>
    <td>{{item.brand_name}}</td>
    <td>{{item.class_name}}</td>
    <td>{{item.item_price}}</td>
    <td>{{item.pv}}</td>
    <td>{{item.uv}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.gmv}}</td>
  </tr>
  </tbody>
</nz-table>
