<div>
    <a target="_blank" ng-href="/wanted/topicList/createTopic?cir_id={{cir_id}}#topic" class="btn btn-primary m-b-0"
       ng-show="!circleList"
        see-access="PGC-Service See-Admin Oper Super-Admin PGC-Part KOL">
        创建专题
    </a>
    <div class="btn-group" uib-dropdown >
        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
            选择专题类型 <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="" ng-click="searchTopicList(2)">我的草稿箱</a></li>
            <li role="menuitem"><a href="" ng-click="searchTopicList(3)">已发布专题</a></li>
        </ul>
    </div>

    <div class="table-scrollable">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>专题ID</th>
                <th width="100">专题banner</th>
                <th>专题名称</th>
                <th>状态</th>
                <th>浏览数</th>
                <th>回复数</th>
                <th>创建时间</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="topic in topicList track by $index">
                <td>{{topic.topic_id}}</td>
                <td>
                    <img width="80" height="80" class="img-circle" alt="{{topic.title}}" see-src="topic.imgurl"/>
                </td>
                <td>{{topic.title}}</td>
                <td ng-class="{'text-danger': topic.status_text=='草稿', 'text-primary': topic.status_text=='启用'}">
                    {{topic.status_text}}
                </td>
                <td>{{topic.readcount}}</td>
                <td>{{topic.replycount}}</td>
                <td>{{topic.create_time_text}}</td>
                <td>
                    <a ng-show="use_falg" class="btn btn-sm btn-primary m-b-5" href="" see-hide="PGC-Part"
                       ng-click="delTopic(topic.topic_id)">
                        <i class="fa fa-trash"></i>删除
                    </a>
                    <a ng-show="draft_falg" class="btn btn-sm btn-primary m-b-5" href=""
                       ng-click="updateTopic(topic.topic_id)">
                        <i class="fa fa-share"></i>发布
                    </a>
                    <!--草稿箱里的编辑-->
                    <a ng-show="draft_falg == true" class="btn btn-sm btn-primary m-b-5"
                       ng-href="/wanted/topicList/editTopic/{{topic.topic_id}}/{{topic.cir_id}}#topic" target="_blank">
                        <i class="fa fa-edit"></i>编辑
                    </a>
                    <!--草稿箱里的删除-->
                    <a href="" ng-if="draft_falg === true" class="btn btn-sm btn-primary m-b-5" ng-click="delDraftTopic(topic.topic_id)"><i class="fa fa-trash"></i>删除</a>
                    <!--已发布里的编辑-->
                    <a ng-show="draft_falg == false" class="btn btn-sm btn-primary m-b-5"
                       ng-href="/wanted/topicList/editTopicPublished/{{topic.topic_id}}/{{topic.cir_id}}#topic" target="_blank"
                       see-access="See-Admin Oper PGC-Part Super-Admin">
                        <i class="fa fa-edit"></i>编辑
                    </a>
                    <a class="btn btn-sm btn-primary m-b-5" href='{{api_url}}?id={{topic.topic_id}}'
                       target="_blank">
                        <i class="fa fa-mobile"></i>预览
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
