<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
  <h3 class="modal-title" ng-if="class_info.mall_class_id === '0'">创建商城品类</h3>
  <h3 class="modal-title" ng-if="class_info.mall_class_id !== '0'">编辑商城品类名称</h3>
</div>
<div class="modal-body">
  <div class="scrollable-table">
    <form class="form-horizontal w5c-form" name="addKOLForm" novalidate w5c-form-validate role="form">
      <div class="form-group">
        <label class="control-label col-sm-4 required">品类名称</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" placeholder="" ng-model="class_info.mall_class_name" ng-trim="true"  required>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" w5c-form-submit="ok()">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
      </div>
    </form>
  </div>
</div>

