<ul class="list">
  <div class="placeholder" *ngIf="!items || items.length === 0">
    <app-preview-placeholder-item dir="h" [imgHeight]="108"></app-preview-placeholder-item>
    <app-preview-placeholder-item dir="h" [imgHeight]="108"></app-preview-placeholder-item>
  </div>
  <li class="item" *ngFor="let item of items">
    <div class="img-wrap">
      <div class="group-tip">
        <span class="txt">N人团</span>
      </div>
      <img alt="" [seeSrc]="item.mainImgUrl || item.bannerUrl" [thumbnail]="'332x332'" />
    </div>
    <div class="right-block">
      <div class="top">
        <div class="name">
          {{item.itemName}}
        </div>
        <div class="sell-point">{{item.sellPoint}}</div>
      </div>
      <div class="bottom">
        <div class="price-line">
          <div class="price-label">
            <span class="text-label txt">{{item.type===5 ? "团长价":"拼团价"}}</span>
          </div>
          <div class="price">￥{{item.grouponPrice || item.minGrouponPrice}}</div>
          <div class="daily-price">
            <span class="txt">￥{{item.dailyPrice || item.itemPrice}}</span>
          </div>
        </div>
        <!--<div class="btn-action">去拼团</div>-->
      </div>
    </div>
  </li>
</ul>
