<div class="header">
  <h2>
    <strong>KOL合作管理</strong>
  </h2>
  <div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li>
        <a href="/">Seego后台</a>
      </li>
      <li>
        <a href="">KOL管理</a>
      </li>
      <li class="active">KOL合作管理</li>
    </ol>
  </div>
</div>
<div class="row" see-access="Super-Admin Elect-Admin KOL-Admin">
  <div class="col-sm-12 portlets">
    <div class="panel">
      <div class="panel-content">
        <div class="pull-right" ng-if="$ctrl.hash === '3'">
          <button class="btn btn-primary" ng-click="$ctrl.exportTrendAll()">导出</button>
        </div>
        <see-tabset>
          <see-tab heading="合辑详情" select="$ctrl.selectTab()" type="1" see-access="KOL-Admin">
            <form class="form-inline" ng-submit="$ctrl.submitSearch()">
              <div class="form-group m-b-10">
                <label class="control-label">KOL </label>
                <ui-select multiple ng-model="$ctrl.filter_info.kol_select" theme="bootstrap" close-on-select="false" title="选择KOL" style="width: 300px;">
                  <ui-select-match placeholder="选择KOL...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="item.kol_id as item in $ctrl.list_key | propsFilter: {name: $select.search}" refresh="$ctrl.refreshKolSelList($select.search)"
                    refresh-delay="200">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group m-b-10">
                <label class="control-label">关键词
                  <input type="text" class="form-control" style="min-width: 210px;" placeholder="文章名" ng-model="$ctrl.filter_info.keyword_article"
                    ng-trim="true">
                </label>
              </div>
              <div class="form-group m-b-10">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>搜索</button>
              </div>
            </form>
            <div class="form-group col-xs-12">
              <ul class="kol-info-tab">
                <li ng-class="{'active': $ctrl.article_status === '1'}">
                  <a href ng-click="$ctrl.articleStatusFilter('1')">上线中 ({{$ctrl.num_status_1}})</a>
                </li>
                <li ng-class="{'active': $ctrl.article_status === '0'}">
                  <a href ng-click="$ctrl.articleStatusFilter('0')">未上线 ({{$ctrl.num_status_0}})</a>
                </li>
              </ul>

            </div>
            <div class="table-scrollable">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>平台</th>
                    <th>平台昵称</th>
                    <th>合作次数</th>
                    <th>上线时间</th>
                    <th>文章ID</th>
                    <th>案例名</th>
                    <th>文章阅读量</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in $ctrl.article_list track by item.article_id">
                    <td>{{item.platform_name}}</td>
                    <td>
                      <a ng-if="item.version_flag == 1" ng-href="/kol-v2/kol-cooperation-management/{{item.kol_id}}/{{ item.weixin_id || 0 }}/micro-page" class="text-primary"><span style="color:black;">{{item.kol_name}}</span></a>
                      <a ng-if="item.version_flag == 0" href="/kol/kol-cooperation-management/{{item.kol_id}}?wechat_id={{item.weixin_id}}#1" class="">
                        <span style="color:black;">{{item.kol_name}}</span>
                      </a>
                    </td>
                    <td>{{item.coop_count}}</td>
                    <td>{{item.start_time * 1000 | date: 'yyyy-MM-dd'}}</td>
                    <td>{{item.article_id}}</td>
                    <td title="{{item.title}}">
                      <a href="/kol/kol-cooperation-management/{{item.kol_id}}?article_id={{item.article_id}}&wechat_id={{item.weixin_id}}&collection_id={{item.collection_id}}#2"
                        class="">
                        <span style="color:black;">{{item.title|moreContent:10}}</span>
                      </a>
                    </td>
                    <td>{{item.read_count}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </see-tab>
          <see-tab heading="商城详情" select="$ctrl.selectTab()" type="6" see-access="KOL-Admin">
            <form class="form-inline" ng-submit="$ctrl.submitSearch()">
              <div class="form-group m-b-10">
                <label class="control-label">KOL </label>
                <ui-select multiple ng-model="$ctrl.filter_info.kol_select" theme="bootstrap" close-on-select="false" title="选择KOL" style="width: 300px;">
                  <ui-select-match placeholder="选择KOL...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="item.kol_id as item in $ctrl.list_key | propsFilter: {name: $select.search}" refresh="$ctrl.refreshKolSelList($select.search)"
                    refresh-delay="200">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <!-- <div class="form-group m-b-10">
                <label class="control-label">关键词
                  <input type="text" class="form-control" style="min-width: 210px;" placeholder="商城名" ng-model="$ctrl.filter_info.keyword_article"
                    ng-trim="true">
                </label>
              </div> -->
              <div class="form-group m-b-10">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>搜索</button>
              </div>
            </form>
            <div class="table-scrollable">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>平台</th>
                    <th>平台昵称</th>
                    <th>合作次数</th>
                    <th>商城名</th>
                    <th>关联商城品类商品
                      <i class="fa fa-info-circle" uib-tooltip="商城品类关联商品/商城总商品"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in $ctrl.article_list track by item.article_id">
                    <td>{{item.platform_name}}</td>
                    <td>
                      <a ng-if="item.version_flag == 0" ng-href="/kol/kol-cooperation-management/{{item.kol_id}}?wechat_id={{item.weixin_id}}#5">
                        <span style="color:black;">{{item.kol_name}}</span>
                      </a>
                      <a ng-if="item.version_flag == 1" ng-href="/kol-v2/kol-cooperation-management/{{item.kol_id}}/{{ item.weixin_id || 0 }}/micro-page"><span style="color:black;">{{item.kol_name}}</span></a>
                    </td>
                    <td>{{item.coop_count}}</td>
                    <td title="{{item.title}}">
                      <a href="/kol/kol-cooperation-management/{{item.kol_id}}?article_id={{item.article_id}}&wechat_id={{item.weixin_id}}&collection_id={{item.collection_id}}&article_type=2#2"
                        class="">
                        <span style="color:black;">{{item.title|moreContent:10}}</span>
                      </a>
                    </td>
                    <td>{{item.num_mall_class.cur}}/{{item.num_mall_class.all}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </see-tab>
          <see-tab heading="合作KOL" select="$ctrl.selectTab()" type="2">
            <form class="form-inline" ng-submit="$ctrl.submitSearch()">
              <div class="form-group m-b-10">
                <label class="control-label">KOL </label>
                <ui-select multiple ng-model="$ctrl.filter_info.kol_select" theme="bootstrap" close-on-select="false" title="选择KOL" style="width: 300px;">
                  <ui-select-match placeholder="选择KOL...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="item.kol_id as item in $ctrl.list_key | propsFilter: {name: $select.search}" refresh="$ctrl.refreshKolSelList($select.search)"
                    refresh-delay="200">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="form-group m-b-10" hide>
                <label class="control-label">运营状态
                  <select name="operate_status" class="form-control" ng-model="$ctrl.filter_info.operate_status">
                    <option value="" selected>-- 请选择 --</option>
                    <option value="{{item.val}}" ng-repeat="item in $ctrl.kolOpStatusOptions">{{item.label}}</option>
                  </select>
                </label>
              </div>
              <div class="form-group m-b-10">
                <label class="control-label">等级
                  <select class="form-control" ng-model="$ctrl.filter_info.rank">
                    <option value="" selected>-- 请选择 --</option>
                    <option value="1">新P0</option>
                    <option value="2">新P1</option>
                    <option value="3">新P2</option>
                    <option value="4">D级</options>
                    <option value="5">C级</options>
                    <option value="6">B级</options>
                    <option value="7">A级</options>
                    <option value="8">S级</options>
                  </select>
                </label>
              </div>
              <div class="form-group m-b-10">
                <label class="control-label">代销
                  <select class="form-control" ng-model="$ctrl.filter_info.is_delegate">
                    <option value="" selected>-- 请选择 --</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                  </select>
                </label>
              </div>
              <div class="form-group m-b-10">
                <label class="control-label">排序
                  <select class="form-control" ng-model="$ctrl.filter_info.rank_type">
                    <option value="" selected>-- 请选择 --</option>
                    <option value="1">文章数递减</option>
                    <option value="2">文章数递增</option>
                    <option value="3">商场数递减</option>
                    <option value="4">商城数递增</option>
                  </select>
                </label>
              </div>
              <div class="form-group m-b-10">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>搜索</button>
              </div>
              <div class="pull-right" hidden>
                <button class="btn btn-primary" type="button" accept=".xlsx,.xls" ngf-select="$ctrl.importDelegateGoods($file)">导入代销商品</button>
                <button class="btn btn-primary" type="button" ng-click="$ctrl.createKOL()">创建KOL</button>
              </div>
            </form>
            <!-- <div class="form-group col-xs-12">
              <ul class="kol-info-tab">
                <li ng-class="{'active': $ctrl.kol_status === '1'}">
                  <a href ng-click="$ctrl.kolStatusFilter('1')">合作中 ({{$ctrl.num_status_1}})</a>
                </li>
                <li ng-class="{'active': $ctrl.kol_status === '0'}">
                  <a href ng-click="$ctrl.kolStatusFilter('0')">合作结束 ({{$ctrl.num_status_0}})</a>
                </li>
              </ul>
            </div> -->
            <div class="table-scrollable">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>KOL ID</th>
                    <!-- <th>平台</th>2 -->
                    <th>平台昵称</th>
                    <th>微信号</th>
                    <th>自动化运营</th>
                    <th>Seego账号</th>
                    <!-- <th>See用户</th>6 -->
                    <th>等级</th>
                    <th>运营状态</th>
                    <!-- <th>代销</th> -->
                    <!-- <th>粉丝数</th> -->
                    <!-- <th>阅读数</th> -->
                    <!-- <th>分类</th>12 -->
                    <!-- <th>合作次数</th>
                    <th>文章数</th>
                    <th>商城数</th>
                    <th>总下单订单数</th> -->
                    <!--<th>总下单GMV</th>-->
                    <!-- <th>总支付订单数</th> -->
                    <!-- <th>总支付GMV</th> -->
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in $ctrl.kol_list track by item.kol_id">
                    <td>{{item.kol_id}}</td>
                    <!-- <td>{{item.platform_name}}</td> -->
                    <td>

                      <!-- <a ng-if="item.version_flag == 0" ng-href="/kol/kol-cooperation-management/{{item.kol_id}}?wechat_id={{item.weixin_id}}" class="text-primary">{{item.kol_name}}</a>
                      <a ng-if="item.version_flag == 1" ng-href="/kol-v2/kol-cooperation-management/{{item.kol_id}}/{{ item.weixin_id || 0 }}/micro-page" class="text-primary">{{item.kol_name}}</a> -->

                      <a ng-href="/kol-v2/kol-cooperation-management/{{item.kol_id}}/{{ item.weixin_id || 0 }}/micro-page" class="text-primary">{{item.kol_name}}</a>
                    </td>
                    <td>{{item.weixin_id || '未填写'}}</td>
                    <td>{{$ctrl.autoOperationStatus[item.kol_status]}}</td>
                    <td>{{item.seller_email}}</td>
                    <!-- <td>{{item.kol_u_id}}
                                            <br />
                                            <img see-src="item.kol_u_heading" width="32" height="32" alt="" class="img-circle">
                                        </td> -->
                    <td>{{item.rank_name}}</td>
                    <td>{{item.operate_status_name}}</td>
                    <!-- <td>{{item.is_delegate === '0' ? '否' : '是'}}</td> -->
                    <!-- <td>{{item.fans_count === '0' ? '未填写' : item.fans_count}}</td> -->
                    <!-- <td>{{item.read_count}}</td> -->
                    <!-- <td>{{item.category_name}}</td> -->
                    <!-- <td>{{item.coop_count}}</td>
                    <td>{{item.num_article}}</td>
                    <td>{{item.num_mall}}</td>
                    <td>{{item.gmv_info.ex_all.order}}</td> -->
                    <!--<td>{{item.gmv_info.ex_all.gmv | currency: '￥'}}</td>-->
                    <!-- <td>{{item.gmv_info.all.order}}</td>
                    <td>{{item.gmv_info.all.gmv | currency: '￥'}}</td> -->
                    <td>
                      <a class="temp-detail-switch" href ng-if="item.status === '0'" ng-click="$ctrl.changeKolStatus(item.kol_id,1)" see-access="KOL-Admin">
                        <div id="div1" class="close1">
                          <div id="div2" class="close2"></div>
                        </div>
                        <span>合作</span>
                      </a>
                      <a class="temp-detail-switch" href ng-if="item.status === '1'" ng-click="$ctrl.changeKolStatus(item.kol_id,0)" see-access="KOL-Admin">
                        <div id="div1" class="open1">
                          <div id="div2" class="open2"></div>
                        </div>
                        <span>合作</span>
                      </a>
                      <!-- <button class="btn btn-sm btn-primary" type="button" ng-click="$ctrl.editKol(item.kol_id)">
                        <i class="fa fa-edit"></i>编辑</button> -->
                      <a class="m-l-10 m-r-10" ng-click="$ctrl.editKol(item.kol_id)">编辑</a>
                      <!-- <button class="btn btn-sm btn-primary" type="button" ng-if="item.num_mall>0" ng-click="$ctrl.setKolMall(item.kol_id, 2)">{{item.default_mall > 0 ? '已' : '未'}}设置默认商城</button> -->
                      <a ng-href="{{item.url_order}}" ng-if="item.url_order !== ''" target="_blank" class="btn btn-sm btn-primary" see-access="KOL-Admin">客服：订单链接</a>
                      <a ng-href="{{item.url_help}}" ng-if="item.url_help !== ''" target="_blank" class="btn btn-sm btn-primary" see-access="KOL-Admin">客服：反馈链接</a>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </see-tab>
          <see-tab heading="合作KOL总体趋势" select="$ctrl.selectTab()" type="3" see-access="KOL-Admin">
            <div class="table-scrollabel">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>日期</th>
                    <th>文章总阅读量变化</th>
                    <th>总下单订单数</th>
                    <!-- <th>总下单GMV</th>-->
                    <th>总支付订单数</th>
                    <th>总支付GMV</th>
                    <th see-hide="Hide-DD">总支付GMV/阅读</th>
                    <th see-hide="Hide-DD">包税订单</th>
                    <th see-hide="Hide-DD">包税GMV</th>
                    <th see-hide="Hide-DD">包税GMV占比</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in $ctrl.trend_list track by $index">
                    <td>{{item.time}}</td>
                    <td>{{item.diff_num}}</td>
                    <td>{{item.gmv_info.ex_all.order}}</td>
                    <!-- <td>{{item.gmv_info.ex_all.gmv | currency: '￥'}}</td>-->
                    <td>{{item.gmv_info.all.order}}</td>
                    <td>{{item.gmv_info.all.gmv | currency: '￥'}}</td>
                    <td see-hide="Hide-DD">{{item.diff_num ? item.gmv_info.all.gmv/item.diff_num : 0 | number : fractionSize}}</td>
                    <td see-hide="Hide-DD">{{item.gmv_info.normal.order}}</td>
                    <td see-hide="Hide-DD">{{item.gmv_info.normal.gmv | currency: '￥'}}</td>
                    <td see-hide="Hide-DD">{{item.gmv_info.all.gmv > 0 ? 100 * item.gmv_info.normal.gmv/item.gmv_info.all.gmv : 0 | percentage :
                      2}}
                    </td>
                  </tr>
              </table>
            </div>
          </see-tab>
          <see-tab heading="所有KOL" select="$ctrl.selectTab()" type="4" see-access="KOL-Admin">
            <form class="form-inline" ng-submit="$ctrl.submitSearch()">
              <div class="form-group">
                <input type="search" class="form-control" placeholder="KOL名称、微信号" ng-trim="true" ng-model="$ctrl.filter_info.keyword">
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>搜索</button>
              </div>
            </form>
            <div class="table-scrollabel">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>排名</th>
                    <th>KOL名称</th>
                    <th>微信号</th>
                    <th>KQI</th>
                    <th>平均阅读</th>
                    <th>平均点赞</th>
                    <th>画像计算范围（篇）</th>
                    <th>实际计算文章（篇）</th>
                    <th>更新时间</th>
                    <th>合作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in $ctrl.kol_all_list track by item.wechat_id">
                    <td>#{{ item.rank }}</td>
                    <td>
                      <a href="/kol/kol-cooperation-management/{{item.kol_id}}?wechat_id={{item.wechat_id}}#{{item.kol_id === 0 ? 3 : 1}}"
                        class="text-primary">{{item.wechat_name}}</a>
                    </td>
                    <td>{{ item.wechat_id }}</td>
                    <td>{{ item.kqi }}</td>
                    <td>{{ item.read_all_avg }}</td>
                    <td>{{ item.like_all_avg }}</td>
                    <td>{{ item.count_range }}</td>
                    <td>{{ item.count_actual }}</td>
                    <td>{{ item.update_time }}</td>
                    <td>
                      <!--不显示取消同步按钮
                      {{ item.sync_status ? '是' : '否' }} <button class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.syncStatus(item.wechat_id, item.wechat_name, item.sync_status)">{{ item.sync_status ? '取消同步' : '同步' }}</button>
                      -->
                      {{ item.sync_status ? '是' : '否' }}
                      <button ng-if="!item.sync_status" class="btn btn-primary btn-sm" type="button" ng-click="$ctrl.syncStatus(item.wechat_id, item.wechat_name, item.sync_status)">同步</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </see-tab>
          <!--
          <see-tab heading="批量同步商城商品" select="$ctrl.selectTab()" type="5">

            <div class="table-scrollabel">
              <font color="black"><b>批量同步商城商品，请谨慎操作！！！</b></font>
              <br /><br />
              <form class="form-inline">
                <div class="form-group" style="width:100%;padding:10px;" >
                  <font color="black">商品ID列表，逗号分隔，如 123,456</font>
                  <font color="red" ng-if="$ctrl.sync_tip_input_ids !== ''"><b>  （{{$ctrl.sync_tip_input_ids}}）</b></font>
                  <br />
                  <input type="text" style="width:80%" class="form-control" placeholder="请填入商品ID列表，以,分隔" ng-trim="true" ng-model="$ctrl.sync_input_item_ids" ng-change="$ctrl.replaceInput(1)">
                  <button class="btn btn-primary" ng-click="$ctrl.choiceHotItem(1)">添加</button>

                  <div class="grid-portfolio m-t-10" ng-if="$ctrl.sync_list_items.length>0"  style="width:100%">
                    <div class="grid-portfolio m-t-10"  style="width:100%">
                      <div class="row"  style="width:100%">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-xlg-2 m-t-10" ng-repeat="good in $ctrl.sync_list_items" style="width:120px;height:140px;">
                          <div ng-if="good.item_info !== false">
                            <img  see-img see-src="good.item_info.item_imgurl"  style="max-width:120px;max-height: 90px;">
                            <label>{{good.item_id}}&nbsp;&nbsp;&nbsp;&nbsp;{{good.item_info.price | currency: '￥'}}</label>
                            <p><span title="{{good.item_info.item_name}}">{{good.item_info.item_name}}</span></p>
                          </div>
                          <div ng-if="good.item_info === false">
                            <label>{{good.item_id}}</label>
                            <p><font color="red">商品不存在</font></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <br />
                <div class="form-group"  style="width:100%;padding:10px;">
                  <font color="black">推荐商品ID列表，逗号分隔，如 123,456</font>
                  <font color="red" ng-if="$ctrl.sync_tip_input_recommend !== ''"><b>  （{{$ctrl.sync_tip_input_recommend}}）</b></font>
                  <br />
                  <input type="text"  style="width:80%" class="form-control" placeholder="请填入推荐商品ID列表，以,分隔" ng-trim="true" ng-model="$ctrl.sync_input_recommend_ids" ng-change="$ctrl.replaceInput(2)">
                  <button class="btn btn-primary" ng-click="$ctrl.choiceHotItem(2)">添加</button>

                  <div class="grid-portfolio m-t-10" ng-if="$ctrl.sync_list_recommend.length>0"  style="width:100%">
                    <div class="grid-portfolio m-t-10"  style="width:100%">
                      <div class="row"  style="width:100%">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-xlg-2 m-t-10" ng-repeat="good in $ctrl.sync_list_recommend" style="width:120px;height:140px;">
                          <div ng-if="good.item_info !== false">
                            <img  see-img see-src="good.item_info.item_imgurl"  style="max-width:120px;max-height: 90px;">
                            <label>{{good.item_id}}&nbsp;&nbsp;&nbsp;&nbsp;{{good.item_info.price | currency: '￥'}}</label>
                            <p><span title="{{good.item_info.item_name}}">{{good.item_info.item_name}}</span></p>
                          </div>
                          <div ng-if="good.item_info === false">
                            <label>{{good.item_id}}</label>
                            <p><font color="red">商品不存在</font></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <br />
                <div class="form-group"  style="width:100%;padding:10px;" >
                  <font color="black">已选中{{$ctrl.sync_count}}个商城，如下</font>
                  <font color="red" ng-if="$ctrl.sync_tip_choice !== ''"><b>  （{{$ctrl.sync_tip_choice}}）</b></font>
                  <br />
                  <input type="text"  style="width:100%" class="form-control" placeholder="" ng-trim="true" readonly ng-model="$ctrl.sync_choice">
                </div>
                <br />
                <div class="form-group"  style="width:100%;padding:10px;">
                  <button type="button" class="btn btn-primary" ng-click="$ctrl.confirmSync()">确认批量设置</button>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.checkAll()">全选</button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.checkReverse()">重置选择</button>
                  </div>
                </div>

              </form>
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>选择</th>
                    <th>KOL名称</th>
                    <th>微信号</th>
                    <th>商城名</th>
                    <th>商品数</th>
                    <th>商城链接</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in $ctrl.article_list track by item.article_id">
                    <td>
                      <input  ng-change="$ctrl.changeSyncChoice()" type="checkbox" ng-model="item.isChecked">
                    </td>
                    <td>{{ item.kol_name }}</td>
                    <td>{{ item.weixin_id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.item_num }}</td>
                    <td>
                      <a ng-href="{{item.collection_url_shop_1}}" ng-if="item.collection_url_shop_1 !== ''" target="_blank" class="btn btn-sm btn-primary">预览</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </see-tab>
          -->
        </see-tabset>
        <pagination ng-if="$ctrl.hash !== '5'" total-items="$ctrl.total_items"></pagination>
      </div>
    </div>
  </div>
</div>
