.h {
  display: flex;
  font-weight: normal;

  .h-txt {
    font-weight: bold;
  }

  .left {
    display: flex;
    align-items: center;
  }
}

.flex-1 {
  flex: 1;
}

ul.cycle-toggle {
  margin-left: 28px;
  margin-bottom: 0;

  > li {
    display: inline-block;
    width: 55px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #5971e8;
    background: #fff;
    color: #5971e8;
    font-size: 12px;
    text-align: center;

    &.active {
      background: #5971e8;
      color: #fff;
    }
  }
}

.main {
  width: 100%;

  .chart {
    height: 348px;
    width: 100%;
  }

  .table-wrap {
    width: 100%;
    margin-top: 40px;
    padding: 0 27px 27px 20px;

    table {
      th,
      td {
        font-size: 12px;
        text-align: center;
        color: #666;
      }

      th {
        background: #e8e8e8;
        font-weight: bold;
      }

      td {
        height: 47px;
        line-height: 1.1;
        padding: 0;

        &.date {
          width: 150px;
        }
      }
    }
  }
}

td.rebuy {
  > * {
    text-align: center;
  }
}

.btn-export {
  color: #5971e8;
  font-weight: bold;
  font-size: 15px;
  margin-left: 33px;
  display: inline-block;
}
