<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" data-dismiss="modal">&times;</button>
    <h3 class="modal-title">体验二维码</h3>
</div>
<div class="modal-body">
      <center><img src="https://m.seeapp.com/weixin/{{vm.url}}?authorizer_appid={{vm.authorizer_appid}}" width="300" height="300" />
      </center>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="vm.ok()">确定</button>
          <!--<button class="btn btn-default" type="button" ng-click="vm.cancel()">取消</button>-->
      </div>
 
</div>
