<div class="header">
	<h2><strong>创建入库记录</strong></h2>

	<div class="breadcrumb-wrapper">
		<ol class="breadcrumb">
			<li><a href="/">Seego后台</a></li>
			<li><a href="/store">库存管理</a></li>
			<li class="active">创建入库记录</li>
		</ol>
	</div>
</div>
<div>
	<div class="row">
		<div class="col-xs-12 portlets">
			<div class="panel">
				<div class="panel-content">
          <store-item id="$ctrl.id"></store-item>
					<form class="form-horizontal w5c-form" name="warehousingForm" novalidate w5c-form-validate>
						<div class="form-group">
							<label class="col-sm-2 control-label">入库时间</label>
							<div class="col-sm-8">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" data-toggle="dropdown" data-target="#" href="" >
                        <input type="text" datetime="yyyy-MM-dd HH:mm:ss" class="form-control" data-ng-model="$ctrl.dateTimePicker">
                    </a>
                    <ul class="dropdown-menu">
                        <datetimepicker data-ng-model="$ctrl.dateTimePicker" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" data-on-set-time="$ctrl.onSetTime(newDate, oldDate)"
                        />
                    </ul>
                </div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">入库仓库</label>
							<div class="col-sm-8">
                <select name="store_id" class="form-control" ng-model="$ctrl.form_data.store_id"
									ng-options="st.store_id as st.name for st in $ctrl.config_store" required>
									<option value="" selected>-- 请选择 --</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">商品规格表</label>
							<div class="col-sm-8">
								<table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>SKU囤货码</th>
                      <th>颜色</th>
                      <th>尺码/尺寸</th>
                      <th><label class="required">入库数量</label></th>
                      <th><label class="required">入库单价&nbsp;/&nbsp;RMB</label></th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="sku in $ctrl.goods.sku_detail track by sku.storage_sku_id">
                      <td>{{sku.storage_sku_id}}</td>
                      <td>{{sku.color_value}}</td>
                      <td>{{sku.size_value}}</td>
                      <td>
                        <input type="number" class="form-control" w5c-dynamic-element w5c-dynamic-name="'stock' + $index"
                          ng-model="sku.stock" ng-blur="$ctrl.integerfy($index)" min="1" required>
                      </td>
                      <td>
                        <input type="number" class="form-control" w5c-dynamic-element w5c-dynamic-name="'sku_price' + $index" min="0" ng-model="sku.sku_price" required>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-primary" ng-click="$ctrl.goods.sku_detail.splice($index, 1)">删除</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
							</div>
						</div>
						<div class="form-group" ng-show="warehousingForm.$errors.length > 0">
							<div class="col-sm-offset-2 col-sm-8">
								<p class="alert alert-danger">请检查必填项！</p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-2">
								<button type="button" w5c-form-submit="$ctrl.save()" class="btn btn-primary">提交</button>
								<button type="reset" class="btn btn-default" ng-click="$ctrl.cancel()">取消</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
