<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()" data-dismiss="modal">&times;</button>
  <h3 class="modal-title">See App手机号绑定流程</h3>
</div>
<div class="modal-body">
  <p>若你在注册See时，选择了微信或微博登录，则需要先将See账号与手机号绑定，方可申请Seego后台自媒体账号。绑定方法如下：</p>
  <div class="row" id="steps">
    <div class="col-xs-12 col-lg-6">
      <p>1.打开See手机客户端，进入"我"->"设置"->"账号绑定"</p>
      <img width="300" src="//static.seecsee.com/seego_backend/images/step1.jpg" alt="step1">
    </div>
    <div class="col-xs-12 col-lg-6">
      <p>2.点击手机号，进行手机号绑定</p>
      <img width="300" src="//static.seecsee.com/seego_backend/images/step2.jpg" alt="step2">
    </div>
  </div>
</div>