<div class="header">
  <h2>
    <strong>财务管理提现管理</strong>
  </h2>
</div>
<div class="shop-info">
  <div class="panel">
    <div class="panel-content">
      <see-tabset>
        <see-tab heading="充值记录" type="0" select="$ctrl.selectTab()">
        </see-tab>
        <see-tab heading="提现记录" type="1" count="{{$ctrl.listData[0].count}}" select="$ctrl.selectTab()">
        </see-tab>
      </see-tabset>
    </div>
  </div>
  <div class="row data withdrawal-data">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-header bg-white">
          <h3>
            <strong ng-if="$ctrl.page_type == '0'">充值记录</strong>
            <strong ng-if="$ctrl.page_type == '1'">提现记录</strong>
          </h3>
          <section class="btn-set">
            <a class="btn btn-primary" href="/personalInfo/account#5" ng-if="$ctrl.page_type == '1'">提现方式</a>
          </section>
        </div>
        <div class="panel-content">
          <div class="row">
            <!-- 充值 -->
            <div class="col-sm-4" ng-if="$ctrl.page_type == '0'">
              <div class="data-icon-beyond-title">
                <i class="icon si si-stats"></i>
              </div>
              <div class="data-item">
                <span class="data-item-title">累计充值金额</span>
                <dashboard-arrow-icon flag="$ctrl.newData.order.flag"></dashboard-arrow-icon>
                <span class="data-item-detail" ng-bind="$ctrl.rechargeTotal | currency: '￥'"></span>
              </div>
            </div>
            <!-- 提现 -->
            <div class="col-sm-4" ng-if="$ctrl.page_type == '1'">
              <div class="data-icon-beyond-title">
                <i class="icon si si-yen"></i>
              </div>
              <div class="data-item">
                <span class="data-item-title">申请提现中</span>
                <dashboard-arrow-icon flag="$ctrl.newData.flow.flag"></dashboard-arrow-icon>
                <span class="data-item-detail" ng-bind="$ctrl.withdrawalData.applicationWithdrawalAmount | currency: '￥'"></span>
              </div>
            </div>
            <div class="col-sm-4" ng-if="$ctrl.page_type == '1'">
              <div class="data-icon-beyond-title">
                <i class="icon si si-profile-round"></i>
              </div>
              <div class="data-item">
                <span class="data-item-title">提现中</span>
                <dashboard-arrow-icon flag="$ctrl.newData.user.flag"></dashboard-arrow-icon>
                <span class="data-item-detail" ng-bind="$ctrl.withdrawalData.withdrawalingAmount | currency: '￥'"></span>
              </div>
            </div>
            <div class="col-sm-4" ng-if="$ctrl.page_type == '1'">
              <div class="data-icon-beyond-title">
                <i class="icon si si-stats"></i>
              </div>
              <div class="data-item">
                <span class="data-item-title">累计提现成功</span>
                <dashboard-arrow-icon flag="$ctrl.newData.order.flag"></dashboard-arrow-icon>
                <span class="data-item-detail" ng-bind="$ctrl.withdrawalData.withdrawalAmount | currency: '￥'"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-12 portlets">
    <div class="panel">
      <div class="panel-content">
        <!-- 充值筛选条件 -->
        <form ng-submit="$ctrl.submitSearch()" class="form-inline m-b-10" ng-if="$ctrl.page_type == 0">
          <div class="form-group">
            <label class="control-label">交易号</label>
            <input class="form-control" type="text" ng-model="$ctrl.searchForm.transactionNo" placeholder="充值交易号">
          </div>
          <div class="form-group">
            <label class="control-label">流水号</label>
            <input class="form-control" type="text" ng-model="$ctrl.searchForm.tradeNo" placeholder="支付流水号">
          </div>
          <div class="form-group">
            <label class="control-label">充值状态</label>
            <select id="" name="status" ng-model="$ctrl.searchForm.status" class="form-control">
              <option value="0">全部</option>
              <option value="1">待支付</option>
              <option value="2">充值成功</option>
              <option value="3">充值失败</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label recharge-time">时间
              <see-date-range-picker ng-model="$ctrl.dateTime" placeholder="申请充值时间"></see-date-range-picker>
              <!-- <input date-range-picker class="form-control date-picker" type="text" ng-model="$ctrl.dateTime" > -->
            </label>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search f-16"></i>搜索</button>
          <button type="button" ng-click="$ctrl.resetSearch()" class="btn btn-default">重置</button>
          <a class="btn btn-primary" target="_blank" ng-click="$ctrl.exportRecharge()">批量导出</a>
        </form>
        <!-- 提现筛选条件 -->
        <form ng-submit="$ctrl.submitSearch()" class="form-inline m-b-10" ng-if="$ctrl.page_type == 1">
          <div class="form-group">
            <label class="control-label">交易号</label>
            <input class="form-control" type="text" ng-model="$ctrl.searchForm.withdrawalId" placeholder="提现账单号">
          </div>
          <div class="form-group">
            <label class="control-label">提现状态</label>
            <!-- <input class="form-control" type="text" ng-model="$ctrl.searchForm.condition" placeholder="客户登录邮箱/手机"> -->
            <select id="" name="status" ng-model="$ctrl.searchForm.status" class="form-control">
              <option value="">全部</option>
              <option value="1">申请提现中</option>
              <option value="2">提现中</option>
              <option value="3">提现成功</option>
              <option value="5">提现失败</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label apply-time">时间
              <see-date-range-picker ng-model="$ctrl.dateTime" placeholder="申请提现时间"></see-date-range-picker>
              <!-- <input date-range-picker class="form-control date-picker" type="text" ng-model="$ctrl.dateTime" > -->
            </label>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search f-16"></i>搜索</button>
          <button type="button" ng-click="$ctrl.resetSearch()" class="btn btn-default">重置</button>
          <a ng-hide="true" class="btn btn-primary" target="_blank" ng-click="$ctrl.exportWithdrawals()">批量导出</a>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-content">
    <div class="row">
      <div class="col-sm-12 portlets">
        <div class="clear-fix">
          <div class="table-scrollable">
            <!-- 充值表 -->
            <table class="table table-hover table-striped" ng-if="$ctrl.page_type==0">
              <thead>
                <tr>
                  <th>时间</th>
                  <!-- TODO 复用template -->
                  <th>交易号
                    <!-- <i class="fa fa-info-circle" tooltip-class="s-tooltip s-tooltip-long" uib-tooltip-template="'tipTmpl.html'"></i>
                    <script type="text/ng-template" id="tipTmpl.html">
                      <div>
                        <p class="m-b-0">
                          大订单号：即用户下单时的支付单号，一个大订单下有多个中订单，eg. BIGxxxx
                        </p>
                        <p class="m-b-0">
                          中订单号：即为发货包裹单号，平台会根据供货商及物流路线的不同，将大订单拆分为中订单，eg. MIDxxxx
                        </p>
                        <p class="m-b-0">
                          小订单号：中订单下同一个SKU商品将作为一个小订单，退款、退货、入账均将以小订单为单位，eg. LITxxxx
                        </p>
                        <p class="m-b-0">
                          入账单号：小订单完成交易后将生成入账单号，计算至可用余额，eg. RZxxxx
                        </p>
                        <p class="m-b-0">
                          提现账单号：即申请提现时生成的账单号，eg. TXZDxxxx
                        </p>
                      </div>
                    </script> -->
                  </th>
                  <th>支付流水号</th>
                  <th>充值金额</th>
                  <th>余额</th>
                  <th>支付方式</th>
                  <th>充值状态</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in $ctrl.rechargeList">
                  <td ng-bind="item.createTime | date: 'yyyy-MM-dd'"></td>
                  <td>
                    <a ng-if="item.status == 1" href="" ng-click="$ctrl.rechargeById(item.rechargeId)">{{item.transactionNo}}</a>
                    <span ng-if="item.status != 1">{{item.transactionNo}}</span>
                  </td>
                  <td>
                    {{item.tradeNo}}
                  </td>
                  <td>
                    {{item.rechargeAmount/100 | currency: '￥'}}
                  </td>
                  <td>
                    {{item.availableAmount/100  | currency: '￥'}}
                  </td>
                  <td ng-switch on="item.payBy">
                    <span ng-switch-when="1">支付宝</span>
                    <span ng-switch-when="2">微信</span>
                    <span>{{item.withdrawalAccountSnap}}</span>
                  </td>
                  <td ng-switch on="item.status">
                    <span ng-switch-when="1">待支付</span>
                    <span ng-switch-when="2">充值成功</span>
                    <span ng-switch-when="3">充值失败</span>
                  </td>
                  <td>{{item.withdrawalsComment}}{{item.status == 5 ?'，可重新发起提现':''}}</td>
                </tr>
              </tbody>
            </table>

            <!-- 提现表 -->
            <table class="table table-hover table-striped" ng-if="$ctrl.page_type==1">
              <thead>
                <tr>
                  <th>时间</th>
                  <!-- TODO 复用template -->
                  <th>交易号
                    <i class="fa fa-info-circle" tooltip-class="s-tooltip s-tooltip-long" uib-tooltip-template="'tipTmpl.html'"></i>
                    <script type="text/ng-template" id="tipTmpl.html">
                      <div>
                        <p class="m-b-0">
                          大订单号：即用户下单时的支付单号，一个大订单下有多个中订单，eg. BIGxxxx
                        </p>
                        <p class="m-b-0">
                          中订单号：即为发货包裹单号，平台会根据供货商及物流路线的不同，将大订单拆分为中订单，eg. MIDxxxx
                        </p>
                        <p class="m-b-0">
                          小订单号：中订单下同一个SKU商品将作为一个小订单，退款、退货、入账均将以小订单为单位，eg. LITxxxx
                        </p>
                        <p class="m-b-0">
                          入账单号：小订单完成交易后将生成入账单号，计算至可用余额，eg. RZxxxx
                        </p>
                        <p class="m-b-0">
                          提现账单号：即申请提现时生成的账单号，eg. TXZDxxxx
                        </p>
                      </div>
                    </script>
                  </th>
                  <th>申请者</th>
                  <th>提现金额</th>
                  <th>提现方式</th>
                  <th>提现状态</th>
                  <th>说明</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in $ctrl.list">
                  <td ng-bind="item.createTime | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                  <td>
                    {{item.withdrawalId}}
                    <br/>
                    <span ng-if="item.status==3">支付宝流水号:
                      <br/>{{item.serialNumber}}</span>
                  </td>
                  <td>
                    {{item.sellerName}}
                    <br/> {{item.sellerEmail}}
                  </td>
                  <td>
                    {{item.withdrawalsAmount}}
                  </td>
                  <td ng-switch on="item.withdrawalType">
                    <span ng-switch-when="1">支付宝</span>
                    <span ng-switch-when="2">微信</span>
                    <span>{{item.withdrawalAccountSnap}}</span>
                  </td>
                  <td ng-switch on="item.status">
                    <span ng-switch-when="1">申请提现中</span>
                    <span ng-switch-when="2">提现中</span>
                    <span ng-switch-when="3">提现成功</span>
                    <span ng-switch-when="4">提现中</span>
                    <span ng-switch-when="5">提现失败</span>
                  </td>
                  <td>{{item.withdrawalsComment}}{{item.status == 5 ?'，可重新发起提现':''}}</td>
                </tr>
              </tbody>
            </table>
            <div class="panel-content my-shop-empty" ng-if="$ctrl.list.length == 0">
              <div class="row">
                <div class="col-xs-12">
                  <h1 ng-if="$ctrl.page_type==1">
                    <i class="icon si si-emoji-sad"></i>没有符合条件的提现订单
                  </h1>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-content my-shop-empty" ng-if="$ctrl.rechargeList.length == 0">
              <div class="row">
                <div class="col-xs-12">
                  <h1 class="m-b-10" ng-if="$ctrl.page_type==0">
                    <i class="icon si si-emoji-sad"></i>没有符合条件的充值订单
                  </h1>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pagination total-items="$ctrl.total_items"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
