<nz-spin [nzSpinning]="_isSpinning">
  <div class="row event-group-list">
    <div class="col-xs-12 portlets">
      <div class="panel">
        <div class="panel-content">
          <div class="tbar">
            <div class="l">
              <button nz-button
                      [nzType]="'primary'"
                      (click)="selectKOLs($event)">
                <i class="anticon anticon-plus"></i>
                <span>添加成员</span>
              </button>
              <a href="javascript: void(0)" (click)="getMemberList()">刷新列表</a>
            </div>
            <div class="topbar-right">
              <nz-input class="keyword" style="width: 250px; margin: 0 10px;"
                        [(ngModel)]="_keyword"
                        [nzType]="'search'"
                        (nzOnSearch)="searchClick($event)"
                        [nzPlaceHolder]="'KOL名称，小电铺名称，KOL ID'"></nz-input>
              <button nz-button
                      [nzType]="'primary'"
                      (click)="searchClick()">
                <i class="anticon anticon-search"></i>
                <span>搜索</span>
              </button>
            </div>
          </div>

          <nz-table #tableRef
                    [nzAjaxData]="memberData.list"
                    [nzLoading]="loading"
                    [nzTotal]="memberData.total"
                    [(nzPageIndex)]="page"
                    (nzPageIndexChange)="getMemberList()"
                    nzShowSizeChanger
                    [(nzPageSize)]="pageSize"
                    (nzPageSizeChange)="getMemberList(true)">
            <thead nz-thead>
              <tr>
                <th nz-th>KOL ID</th>
                <th nz-th>KOL名称</th>
                <th nz-th>小电铺名称</th>
                <th nz-th>初次装修状态</th>
                <th nz-th>KOL等级</th>
                <th nz-th>KOL类别</th>
                <th nz-th>定制头图</th>
                <th nz-th>头图</th>
                <th nz-th>操作</th>
              </tr>
            </thead>
            <tbody nz-tbody>
              <tr *ngFor="let item of tableRef.data;let i = index;">
                <td nz-td>
                  {{item.kol_id}}
                </td>
                <td nz-td>
                  {{item.kol_name}}
                </td>
                <td nz-td>
                  {{item.program_name}}
                </td>
                <td nz-td>
                  <div [hidden]="item.operate_status === 1" class="operate-status-container">
                    <span>{{firstDecorateStatus[item.operate_status]}}</span>
                    <a *ngIf="item.operate_status === 3" href="javascript: void(0)" (click)="tryagain(item.kol_id)">重试</a>
                  </div>
                  <div *ngIf="item.operate_status === 1" class="status-col">
                    <nz-spin [nzSize]="'small'" class="small-spin"></nz-spin>{{firstDecorateStatus[item.operate_status]}}
                  </div>
                </td>
                <td nz-td>
                  {{item.level_id | levelPrefix}}
                </td>
                <td nz-td>
                  {{item.kol_class_name}}
                </td>
                <td nz-td>
                  {{item.head_image ? '是' : '否'}}
                </td>
                <td nz-td class="item-img">
                  <img *ngIf="item.head_image" [seeSrc]="item.head_image"
                        alt="">
                  <img [hidden]="item.head_image" [seeSrc]="shopHeadPic"
                        alt="">
                </td>
                <td nz-td>
                  <a *ngIf="item.head_image" href="javascript: void(0)" (click)="reset(item.kol_id)">恢复默认</a>
                  <a [hidden]="item.head_image" href="javascript: void(0)" (click)="uploadHeadImg(item.kol_id)">上传头图</a>
                  <a href="javascript: void(0)" (click)="removeKol(item.kol_id)">移出</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <see-quick-jumper *ngIf="showPaginaton"
                            [maxPage]="max_page"
                            (quickJumperFun)="quickJumperFun($event)">
          </see-quick-jumper>
        </div>
      </div>
    </div>
  </div>
</nz-spin>
<nz-modal [nzVisible]="modalVisible" [nzTitle]="'确认移出列表？'" [nzContent]="modalContent" (nzOnCancel)="removeCancel($event)" (nzOnOk)="removeOk($event)">
  <ng-template #modalContent>
    <p>移出列表后，KOL将停止自动更新商品和营销活动</p>
  </ng-template>
</nz-modal>
<div id="img-upload-div">
  <!-- <see-img-upload [uploadText]="'上传'"
                      [initFileList]="imgFileList[item._imgId].data"
                      [imgValid]="imgValid"
                      (onUploadSuccess)="uploadImgSuccess($event, item._imgId)"
                      (onUploadError)="uploadImgError($event, item._imgId)"
                      (onRemoveImg)="removeImg($event, item._imgId)"></see-img-upload> -->
  <see-img-upload [initFileList]="initFileList"
                  [imgValid]="imgValid"
                  [showPopupMsg]="false"
                  (onUploadSuccess)="uploadImgSuccess($event)"
                  (onUploadError)="uploadImgError($event)"></see-img-upload>
</div>
