<kol-detail-base wechat-id="$ctrl.wechatId" ng-if="!$ctrl.isNewBrand"></kol-detail-base>
<div class="row event-group-list">
  <div class="col-xs-12 portlets">
    <div class="panel">
      <div class="panel-content">
        <p ng-hide="$ctrl.urlFrom === 'kolV2'"><a  href="/kol/kol-cooperation-management/{{$ctrl.kolId}}/marketing-tools?wechat_id={{$ctrl.wechatId}}" class="text-primary"><i class="fa fa-chevron-left"></i>返回营销工具</a></p>
        <p ng-if="$ctrl.urlFrom === 'kolV2'"><a href="/kol-v2/kol-cooperation-management/{{ $ctrl.kolId }}/{{ $ctrl.wechatId }}/marketing-tools" class="text-primary"><i class="fa fa-chevron-left"></i>返回营销工具</a></p>
        <div class="clear-fix">
          <form ng-submit="$ctrl.submitSearch()" class="form-inline">
            <div class="form-group">
              <select class="form-control" ng-model="$ctrl.formData.status" ng-change="$ctrl.submitSearch()">
                <option ng-value="0" selected>所有活动状态</option>
                <option ng-value="1">待开始</option>
                <option ng-value="2">进行中</option>
                <option ng-value="3">已结束</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" placeholder="活动名称" class="form-control"
                ng-model="$ctrl.formData.activityName"
                ng-keyup="$event.keyCode == 13 && $ctrl.submitSearch()"
                style="min-width: 230px"
              >
            </div>
            <a href="/event/seckill/add?kolId={{$ctrl.kolId}}&wechat_id={{$ctrl.wechatId}}" class="btn btn-primary m-5 pull-right">创建秒杀活动</a>
            <a class="btn btn-primary m-5 pull-right" ng-if="$ctrl.isAdmin"
              href="/shop/operate?kolId={{$ctrl.kolId}}&wechat_id={{$ctrl.wechatId}}#seckill">小电铺装修</a>
          </form>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-condensed m-t-20">
            <thead>
              <tr>
                <th>商品主图</th>
                <th>活动名称</th>
                <th>活动商品</th>
                <th>活动时间</th>
                <th>活动状态</th>
                <th style="min-width: 80px;">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.seckillData.list track by item.id">
                <td>
                  <div class="img-container">
                    <img see-src="item.itemImgurl" thumbnail="150x150" see-viewer alt="">
                  </div>
                </td>
                <td>
                  ID:{{item.id}}<br />
                  {{item.activityName}}
                </td>
                <td>
                  <div style="width: 445px;">
                    <p ng-bind="'ID:' + item.productId"></p><p class="ellipsis" ng-bind="item.productName" title="{{item.productName}}"></p>
                  </div>
                </td>
                <td>
                  <div style="min-width: 125px;max-width: 126px;">
                    {{item.startTime | date: 'yyyy-MM-dd HH:mm'}}
                    <p class="text-center m-0">至</p>
                    {{item.endTime | date: 'yyyy-MM-dd HH:mm'}}
                  </div>
                </td>
                <td ng-bind="item.status | seckillStatus"></td>
                <td>
                  <a class="text-primary click block text-center m-b-10"
                    ng-href="/event/seckill/{{item.id}}/view?kolId={{$ctrl.kolId}}&wechat_id={{$ctrl.wechatId}}"
                  >查看</a>

                  <!-- <a class="text-primary click block text-center m-b-10" href=""
                    uib-popover-template="'myPopoverTemplate.html'"
                    popover-placement="auto bottom"
                    ng-click="$ctrl.getWxacodeUrl(item)"
                    ng-if="item.seckillActivityPath && $ctrl.isNewBrand"
                  >小程序路径</a>

                   <a class="text-primary click block text-center m-b-10" href=""
                   ng-click="$ctrl.showGoodsLinks(item)"
                   ng-if="item.seckillActivityPath && $ctrl.isAdmin"
                  >小程序路径</a> -->

                  <a href=""
                    class="text-primary click block text-center"
                    ng-show="item.status === 1 || item.status === 2"
                    ng-click="$ctrl.terminateSeckill(item.id)"
                  >
                    使失效
                    <i class="icon si si-info"
                      uib-tooltip="可强制使活动失效，但已参与秒杀的订单已生成，请注意发货。"
                      tooltip-placement="top-center"
                      tooltip-trigger="'mouseenter'">
                    </i>
                  </a>

                  <script type="text/ng-template" id="myPopoverTemplate.html">
                    <div class="text-center">
                      <h5>微信“扫一扫”小程序码预览商品</h5>
                      <div class="text-center m-b-10">
                        <img see-src="item.wxacodeUrl" style="width: 215px;height: 215px;" alt="">
                      </div>
                      <a ng-href="{{item.wxacodeUrl}}" download class="text-primary">下载小程序码</a>
                      <input type="text" readonly value="{{item.seckillActivityPath}}" class="form-control m-t-10 m-b-10">
                      <a href="" class="text-primary"
                        ngclipboard
                        data-clipboard-text="{{item.seckillActivityPath}}"
                        ngclipboard-success="$ctrl.onCopySuccess(item.id)"
                        uib-tooltip="复制成功"
                        tooltip-is-open="$ctrl.tooltipIsOpen[item.id]"
                        tooltip-trigger="'click'"
                      >复制小程序路径</a>
                    </div>
                    <!-- <div class="comp-main">
                      <div class="left">小程序路径</div>
                      <div class="center-wrap">
                        <input type="text" readonly value="{{item.seckillActivityPath}}" class="link disabled" disabled />
                      </div>
                      <div class="right">
                        <a class="btn-download" ngclipboard data-clipboard-text="{{item.seckillActivityPath}}" ng-click="$ctrl.onCopySuccess()">复制</a>
                      </div>
                      <div class="left">小程序码</div>
                      <div class="center-wrap">
                        <div class="img-container">
                          <img see-src="item.wxacodeUrl" alt="" />
                        </div>
                      </div>
                      <div class="right">
                        <a class="btn-download" ng-href="{{ item.wxacodeUrl }}" download>下载</a>
                      </div>
                    </div> -->
                  </script>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="$ctrl.seckillData.count === 0" ng-cloak>
          <p class="text-center" ng-if="!$ctrl.hasSearchParams" ng-cloak>
            尚未创建任何秒杀活动，现在去
            <a href="/event/seckill/add?kolId={{$ctrl.kolId}}&wechat_id={{$ctrl.wechatId}}" class="text-primary click">创建</a>
          </p>
          <p class="text-center" ng-if="$ctrl.hasSearchParams" ng-cloak>没有符合条件的秒杀活动</p>
        </div>
        <pagination total-items="$ctrl.seckillData.count"></pagination>
      </div>
    </div>
  </div>
</div>
