<div class='page-wrap'>
  <div class='page-head'>
    <a (click)="reback()">
      <i class='si si-arrow-left'></i>返回活动页面</a>
    <p class='title'>分组详情</p>
  </div>
  <div class='wrap'>
    <div>
      <p class='group-title'>
        <span>分组名称：</span>{{groupName}}</p>
      <p class='group-title' *ngIf="isEdit">
        <span>分组商品：</span>
        <a (click)="addGoods($event)">添加商品</a>
      </p>
      <form class="aform" nz-form [nzLayout]="'inline'" [formGroup]="aForm" (ngSubmit)="aForm.valid && submitForm()">
        <div nz-form-item nz-row>
          <div nz-form-label  nz-col>
            <label>母商品ID</label>
          </div>
          <div nz-form-control nz-col>
            <input type="text" formControlName="parentId" nz-input placeholder="支持逗号分隔批量搜索" />
            <div nz-form-explain *ngIf="aForm.controls.parentId.dirty&&aForm.controls.parentId.hasError('invalidCode')">
              商品编号只能输入数字和分隔符，且每组商品编号长度不超9位！
            </div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label  nz-col>
            <label>子商品ID</label>
          </div>
          <div nz-form-control nz-col>
            <input type="text" formControlName="productId" nz-input placeholder="支持逗号分隔批量搜索"  />
            <div nz-form-explain *ngIf="aForm.controls.productId.dirty&&aForm.controls.productId.hasError('invalidCode')">
              子商品编号只能输入数字和分隔符，且每组商品编号长度不超9位！
            </div>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label  nz-col>
            <label>商品名称</label>
          </div>
          <div nz-form-control nz-col>
            <input type="text" formControlName="productName" nz-input placeholder="商品名称" />
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-control nz-col>
            <button nz-button [nzType]="'primary'"  [nzLoading]="isLoading">搜索</button>
            <button nz-button [nzType]="'primary'" nzGhost (click)="resetForm($event)">重置</button>
          </div>
        </div>
      </form>
    </div>
    <total-info [text]="count"></total-info>
    <nz-table #nzTable [(nzPageIndex)]="page"
              [nzPageSizeSelectorValues]="pageSizeSelectorValues"
              [(nzPageSize)]="pageSize" nzShowTotal nzShowSizeChanger nzShowQuickJumper [nzAjaxData]="data"
              [nzTotal]="count" (nzPageIndexChange)="pageChange()" (nzPageSizeChange)="pageChange()" [nzLoading]="isLoading">
      <thead nz-thead>
      <tr>
        <th nz-th nzCheckbox style='width:80px;display:none'>
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
            <span class='check-all'>全选</span>
          </label>
        </th>
        <th nz-th class='w-100 tc'>
          <span class='f22'>母商品ID</span>
        </th>
        <th nz-th class='w-100 tc'>
          <span class='f22'>子商品ID</span>
        </th>
        <th nz-th class='w-100 tc'>
          <span class='f22'>商品主图</span>
        </th>
        <th nz-th class='tc' style='width:400px'>
          <span class='f22'>商品名称</span>
        </th>
        <th nz-th class='tc' style='width:80px'>
          <span class='f22'>类型</span>
        </th>
        <th nz-th class='w-100 tc'>
          <span class='f22'>价格</span>
        </th>
        <th nz-th class='w-100 tc'>
          <span class='f22'>销售状态</span>
        </th>
        <th nz-th class="w-100 tc">
          <span class="f22" >排序 <i class="anticon anticon-exclamation-circle" nz-tooltip="填写排序数字，越大越靠前"></i></span>
        </th>
        <th nz-th class='w-130 tc' *ngIf='isEdit'>
            <span class='f22'>
              操作
            </span>
        </th>
      </tr>
      </thead>
      <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data;trackBy:groupTractBy">
        <td nz-td nzCheckbox style='display:none'>
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
          </label>
        </td>
        <td nz-td class='tc c101010'>
          <span>{{data.parentId}}</span>
        </td>
        <td nz-td class='tc c101010'>
          <span>{{data.productId}}</span>
        </td>
        <td nz-td class='tc c101010'>
          <img class='thumb' [seeSrc]="data.mainImgUrl" />
        </td>
        <td nz-td class='tc c101010'>
          <span>{{data.productName|strPipe}}</span>
        </td>
        <td nz-td class='tc c101010'>{{data.productType|saleType}}</td>
        <td nz-td class='tc c101010'>¥{{data.price}}</td>
        <td nz-td class='tc c101010'>{{data.salesState|productState}}</td>
        <td nz-td class="tc c101010">
          <span *ngIf="!isEdit" style="padding: 0 10px;">{{data.orderNum || 0}}</span>
          <sort-input *ngIf="isEdit" [sort]="data.orderNum" (sortChange)="sortGroup($event,data)"></sort-input>
        </td>
        <td nz-td class='tc' *ngIf='isEdit'>
          <nz-popconfirm [nzTitle]="'确定要从分组移出此商品吗？'" [nzOkText]="'确定'" [nzCancelText]="'取消'" (nzOnConfirm)="removeGroupProduct(data)">
            <a nz-popconfirm>移除</a>
          </nz-popconfirm>
        </td>
      </tr>
      </tbody>
    </nz-table>

  </div>
</div>
